name: 'Pull Request'

on: ['pull_request']

concurrency:
  group: pr-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Check lint
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Node setup
        uses: ./.github/actions/node-setup

      - name: Run Linting
        run: yarn run lint

  test:
    runs-on: ubuntu-latest
    name: Check build
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Node setup
        uses: ./.github/actions/node-setup

      - name: Run Testing
        run: yarn run test

  build:
    runs-on: ubuntu-latest
    name: Check build
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Node setup
        uses: ./.github/actions/node-setup

      - name: Run Building
        run: yarn run build

  check_dependencies:
    runs-on: ubuntu-latest
    name: Check dependencies
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Enable Corepack
        run: corepack enable
        shell: bash

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Install dependencies
        run: YARN_ENABLE_SCRIPTS=false yarn install --immutable --check-cache --check-resolutions
